langchain
python-dotenv
ipykernel
langchain-community
langchain-openai
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
arxiv
wikipedia
sqlite3
duckduckgo-search